@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&family=Roboto&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-color: #f1f1f1; }

a {
  color: inherit;
  text-decoration: inherit; }

ul li {
  list-style: none; }

em {
  font-family: Roboto;
  font-style: normal; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

header {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
  background-color: white;
  box-shadow: 0px 1px 20px #989b9b;
  z-index: 10; }

header svg {
  width: 180px;
  height: 100px; }

.Ac-localisation em {
  font-size: 20px; }

.Ac-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 4vh;
  background-color: #c8cccc; }

.Ac-localisation svg {
  width: 20px;
  height: 20px; }

.Ac-presentation h1, .Ac-presentation p {
  text-align: center; }

p {
  font-size: 20px;
  color: grey; }

.Ac-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30vh;
  flex-direction: column; }

h1, h2 {
  font-size: 30px;
  font-weight: 800; }

.Ac-fonctionnement {
  width: 100vw;
  height: auto;
  background-color: white;
  margin-bottom: 10vh;
  padding-left: 7%; }

button {
  height: 60px;
  align-content: center;
  padding: 0px 19px;
  border-radius: 30px;
  border: none;
  background: #ff79da;
  background: linear-gradient(90deg, #ff79da 9%, #9356dc 71%);
  color: white;
  font-size: 20px; }

.Ac-etape {
  height: 80px;
  width: 85%;
  border-radius: 30px;
  margin-bottom: 3vh;
  margin-left: 5%;
  position: relative;
  box-shadow: -1px 13px 31px -10px #989b9b;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.Ac-etape:nth-child(1)::before {
  content: "0";
  position: absolute;
  left: -25px;
  top: 25%;
  height: 50px;
  width: 50px;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.Ac-etape:nth-child(2)::before {
  content: "1";
  position: absolute;
  left: -25px;
  top: 25%;
  height: 50px;
  width: 50px;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.Ac-etape:nth-child(3)::before {
  content: "2";
  position: absolute;
  left: -25px;
  top: 25%;
  height: 50px;
  width: 50px;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.Ac-etape:nth-child(4)::before {
  content: "3";
  position: absolute;
  left: -25px;
  top: 25%;
  height: 50px;
  width: 50px;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.Ac-carte {
  border-radius: 10px;
  margin-bottom: 2vh;
  height: 25vh;
  width: 90vw;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 20px #989b9b; }

.Ac-carte p {
  font-size: 15; }

em {
  font-size: 25px; }

.image {
  height: 70%;
  width: 100%; }

.contenu {
  height: 15%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 1% 3%;
  align-items: center;
  margin: 4% auto; }

.text {
  height: 80%; }

.text p {
  margin-top: 3%; }

#laPalette .image {
  background-image: url("../../Maquettes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 70%;
  width: 105%; }

#laNote .image {
  background-image: url("../../Maquettes Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 70%;
  width: 105%; }

#laFrançaise .image {
  background-image: url("../../Maquettes Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 70%;
  width: 105%; }

#leDélice .image {
  background-image: url("../../Maquettes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 70%;
  width: 105%; }

svg {
  width: 30px;
  height: 30px; }

.n-style {
  fill: grey; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"]:checked + label svg {
  fill: #9356DC; }

footer {
  background-color: black;
  width: 100%; }

footer a {
  color: white; }

footer svg {
  width: 9px;
  margin-top: 1%; }

footer ul li a:nth-child(1), footer ul li:nth-child(2) {
  display: flex;
  align-items: center;
  position: relative;
  height: 20px; }

footer > svg:nth-child(2) {
  transform: rotate(-45deg); }

footer svg .n-style {
  fill: white; }

.R-image {
  width: 100%;
  height: 285px;
  position: relative;
  z-index: 1; }

img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%; }

.R-carte {
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: #e9e9e9;
  margin-top: -30px;
  border-radius: 30px 30px 0px 0px;
  padding-bottom: 150px; }

.R-carte h2 {
  font-size: 25px; }

.R-titre {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto; }

h2 {
  padding: 0 5%; }

h2::after {
  display: block;
  background-color: #FF79DA;
  content: "";
  margin-top: 1%;
  width: 50px;
  height: 2px; }

.R-entree, .R-plats, .R-dessert {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
  height: auto; }

.plat {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: -1px 13px 31px -10px #989b9b; }

.prix {
  margin-top: 8%; }

.plat .contenu {
  margin: 0 auto;
  height: 100%; }

.plat em {
  font-size: 23px; }

.R-carte button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); }
