@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&family=Roboto&family=Shrikhand&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-color: #f1f1f1; }

a {
  color: inherit;
  text-decoration: inherit; }

ul li {
  list-style: none; }

em {
  font-family: Roboto;
  font-style: normal; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

header {
  position: relative;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
  background-color: white;
  box-shadow: 0px 1px 20px #989b9b;
  z-index: 10; }

header a {
  margin-left: 20px;
  position: absolute;
  align-items: center;
  left: 2%; }

header svg {
  width: 180px;
  height: 100px; }

.Ac-localisation em {
  font-size: 18px;
  width: 190px; }

.Ac-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 4vh;
  background-color: #c8cccc; }

.Ac-localisation svg {
  width: 20px;
  height: 20px;
  margin-right: 10px; }

.Ac-presentation h1, .Ac-presentation p {
  text-align: center; }

p {
  font-size: 20px;
  color: grey; }

.Ac-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30vh;
  flex-direction: column; }

h1, h2 {
  font-size: 25px;
  font-weight: 800; }

.Ac-fonctionnement {
  width: 100vw;
  height: auto;
  background-color: white;
  margin-bottom: 10vh;
  padding-left: 7%; }

.Ac-etape .n-style {
  fill: grey; }

.Ac-fonctionnement .Ac-etape:nth-child(4) .n-style {
  fill: #9356DC; }

button {
  height: 60px;
  align-content: center;
  padding: 0px 19px;
  border-radius: 30px;
  border: none;
  background: #ff79da;
  background: linear-gradient(177deg, #ff79da 9%, #9356dc 71%);
  color: white;
  font-size: 19px;
  box-shadow: -1px 13px 31px -10px #989b9b;
  cursor: pointer; }

.Ac-etape {
  height: 80px;
  width: 85%;
  border-radius: 25px;
  margin-bottom: 3vh;
  margin-left: 5%;
  position: relative;
  box-shadow: -1px 13px 31px -10px #989b9b;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.Ac-etape:nth-child(1)::before {
  content: "0";
  position: absolute;
  left: -15px;
  top: 30%;
  height: 30px;
  width: 30px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.Ac-etape:nth-child(2)::before {
  content: "1";
  position: absolute;
  left: -15px;
  top: 30%;
  height: 30px;
  width: 30px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.Ac-etape:nth-child(3)::before {
  content: "2";
  position: absolute;
  left: -15px;
  top: 30%;
  height: 30px;
  width: 30px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.Ac-etape:nth-child(4)::before {
  content: "3";
  position: absolute;
  left: -15px;
  top: 30%;
  height: 30px;
  width: 30px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.Ac-carte {
  border-radius: 10px;
  margin-bottom: 2vh;
  height: 25vh;
  width: 90vw;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 20px #989b9b;
  background-color: white; }

.Ac-carte p {
  font-size: 15; }

em {
  font-size: 25px; }

.image {
  height: 70%;
  width: 100%; }

.contenu {
  height: 15%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 0% 3%;
  align-items: center;
  margin: 4% auto;
  position: relative; }

.text {
  height: 80%; }

.text p {
  margin-top: 3%; }

#laPalette .image {
  background-image: url("../../Maquettes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 70%;
  width: 105%; }

#laNote .image {
  background-image: url("../../Maquettes Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 70%;
  width: 105%; }

#laFrançaise .image {
  background-image: url("../../Maquettes Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 70%;
  width: 105%; }

#leDélice .image {
  background-image: url("../../Maquettes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 70%;
  width: 105%; }

svg {
  width: 31px;
  height: 30px; }

.Ac-restaurants .n-style {
  fill: white;
  stroke: black;
  stroke-width: 20px;
  cursor: pointer; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"]:checked + label svg {
  fill: #9356DC; }

footer {
  background-color: black;
  width: 100%; }

footer a {
  color: white; }

footer svg {
  width: 9px;
  margin-top: 1%;
  margin-right: 5px; }

footer ul {
  padding: 0px 0px 15px 26px; }

footer ul li a:nth-child(1), footer ul li:nth-child(2) {
  display: flex;
  align-items: center;
  position: relative;
  height: 20px; }

footer ul li:nth-child(3) svg {
  transform: rotate(-45deg); }

footer .n-style {
  fill: white; }

footer .logo {
  font-family: 'Shrikhand', cursive;
  color: white;
  margin: 15px 0px; }

.R-image {
  width: 100%;
  height: 285px;
  position: relative;
  z-index: 1; }

img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%; }

.R-carte {
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: #e9e9e9;
  margin-top: -30px;
  border-radius: 30px 30px 0px 0px;
  padding-bottom: 150px; }

.R-carte h2 {
  font-size: 25px;
  text-transform: uppercase; }

.R-carte h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 30px; }

.R-titre {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
  align-items: center; }

.R-titre .n-style {
  fill: #e9e9e9;
  stroke: black;
  stroke-width: 20px;
  cursor: pointer; }

h2 {
  padding: 0 5%; }

.R-carte h2::after {
  display: block;
  background-color: #279671;
  content: "";
  margin-top: 1%;
  width: 50px;
  height: 4px; }

.R-entree, .R-plats, .R-dessert {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
  height: auto; }

.plat {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: -1px 13px 31px -10px #989b9b;
  cursor: pointer;
  position: relative;
  overflow: hidden; }

.prix {
  position: absolute;
  margin-right: 0%;
  right: 5%;
  top: 60%;
  border: solid 1px;
  z-index: 50; }

.plat .contenu {
  margin: 0 auto;
  height: 100%;
  align-self: center;
  flex-wrap: wrap; }

.plat em {
  font-size: 23px; }

.R-carte button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); }

.prix::after {
  display: inline;
  content: "\f153";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

.R-entree .plat:nth-child(1) {
  animation: apparition 0.6s linear; }

.R-entree .plat:nth-child(2) {
  animation: apparition 0.7s linear; }

.R-entree .plat:nth-child(3) {
  animation: apparition 0.8s linear; }

.R-entree .plat:nth-child(4) {
  animation: apparition 0.9s linear; }

.R-plats .plat:nth-child(1) {
  animation: apparition 0.6s linear; }

.R-plats .plat:nth-child(2) {
  animation: apparition 0.7s linear; }

.R-plats .plat:nth-child(3) {
  animation: apparition 0.8s linear; }

.R-plats .plat:nth-child(4) {
  animation: apparition 0.9s linear; }

.R-dessert .plat:nth-child(1) {
  animation: apparition 0.6s linear; }

.R-dessert .plat:nth-child(2) {
  animation: apparition 0.7s linear; }

.R-dessert .plat:nth-child(3) {
  animation: apparition 0.8s linear; }

.R-dessert .plat:nth-child(4) {
  animation: apparition 0.9s linear; }

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(20px); }
  75% {
    opacity: 0.5; }
  to {
    opacity: 1;
    transform: translateY(0px); } }

.plat .text {
  transform: translateY(10%); }

.plat input[type='checkbox']:checked + label .cub {
  animation: validation 1.5s ease-in-out; }

.plat input[type='checkbox']:checked + label .prix {
  animation: prix 1.5s ease-in-out; }

.cub {
  width: 20%;
  height: 80px;
  position: absolute;
  background-color: red;
  right: -23%; }

@keyframes validation {
  from {
    right: -23%; }
  50% {
    right: -5%; }
  to {
    right: -23%; } }

@keyframes prix {
  from {
    right: 5%; }
  50% {
    right: 22%; }
  to {
    right: 5%; } }
