$before-steps: 1, 2, 3;
$images: laPalette url("../../Maquettes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg"),
         laNote url("../../Maquettes Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg"),
         laFrançaise url("../../Maquettes Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"),
         leDélice   url("../../Maquettes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"); 
$ffam-logo-titre:  Shrikhand;
$fontfamtext:  Roboto;
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire:  #99E2D0;
$couleurbody: rgb(241, 241, 241);
$couleurnotif: rgb(105, 226, 190);
// url("../Maquettes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg"