@import 'variable';
@import 'placeholder';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&family=Roboto&display=swap');


body {
    margin: 0;
    padding: 0; 
  font-family: $fontfamtext;
background-color: $couleurbody;
//  font-size: 20px;
}
a{
  color: inherit;
  text-decoration: inherit;
}
ul li{
  list-style: none;
}

  em{
    font-family: $fontfamtext;
    font-style: normal;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  
  header {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70px;
  // border-bottom: solid 1px;
background-color: white;
box-shadow: 0px 1px 20px rgb(152, 155, 155) ;
// position: fixed;
z-index: 10;
 }
 header svg{
   width:180px;
   height:100px;
 }
 .Ac-localisation em{
   font-size: 20px;
 }
  
  .Ac-localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 4vh;
    // border-bottom: solid 1px;
    background-color: rgb(200, 204, 204);
    // box-shadow: 121px 112px 22px  rgb(240, 8, 8) ;
   }
   .Ac-localisation svg{
     width: 20px;
     height: 20px;
   }

   .Ac-presentation h1, .Ac-presentation p{
     text-align: center;
   }
   p{
     font-size: 20px;
     color: grey;
   }
  
  .Ac-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    // border-bottom: solid 1px;
    flex-direction: column;
     }
    h1, h2{
      font-size: 30px;
      font-weight: 800;}
  .Ac-fonctionnement {
    width: 100vw; 
    height: auto;
    background-color: white;
    margin-bottom: 10vh;
    padding-left: 7%;
   }
   button{
    height: 60px;
    align-content: center;
    padding: 0px 19px;
    border-radius: 30px;
    border: none;
    background: rgb(255,121,218);
    background: linear-gradient(90deg, rgba(255,121,218,1) 9%, rgba(147,86,220,1) 71%);
    color: white;
    font-size: 20px;
  }
 .Ac-etape {
    height: 80px;
    width: 85%;
    // border: 1px solid;
    border-radius: 30px;
    margin-bottom: 3vh;
    margin-left: 5%;
    position: relative; 
    box-shadow:  -1px 13px 31px -10px rgb(152, 155, 155);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // text-align: ;

  
 }

 @for $i from 1 through 4{

    .Ac-etape:nth-child(#{$i})::before {
    content: "#{($i - 1)}";
    position: absolute;
    left: -25px;
    top: 25%;
    height: 50px;
    width: 50px;
    background-color: $primaire;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
}

 .Ac-carte{
    //  border: solid 1px;
     border-radius: 10px;
     margin-bottom: 2vh;
     height: 25vh;
     width: 90vw;
     position: relative;
     overflow: hidden;
     box-shadow: 0px 1px 20px rgb(152, 155, 155) 
 }
 .Ac-carte p{
    font-size: 15;
 }
  em{
   font-size: 25px;
 }
 .image{
     height: 70%;
     width: 100%;
    //  border: solid 1px;
     
 }
 .contenu{
    // border: solid 1px;
    height: 15%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    align-items: center;
    margin: 4% auto;
 }
 .text{
  
   height: 80%

 }
 .text p{
   margin-top: 3%;
 }

// .image{
//   background-image: url("../../Maquettes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
// }
@each $image in $images{


##{nth($image, 1)} .image{
  background-image: (#{nth($image, 2)});
  background-size: cover;
  background-position: center;
  height: 70%;
  width: 105%;
  // transform: scale(1.2);
}
}
 svg {
  width: 30px;
  height: 30px;
}
.n-style{
  fill: grey;}
// .n-style:last-child{
//  fill: $primaire}

input[type="checkbox"]{
  display: none;
}
// .contenu .n-style{
//   fill: blue;
// }
input[type="checkbox"]:checked + label svg{
  fill: $primaire;
} 

footer{
  background-color: black;
  width: 100%
}
footer a{
  color: white;
}
footer svg{
  width: 9px;
  margin-top: 1%;
}
footer ul li a:nth-child(1), footer ul li:nth-child(2){
  display: flex;
  align-items: center;
  position: relative;
  height: 20px;
}
footer>svg:nth-child(2){
  transform: rotate(-45deg);
}
footer svg .n-style{
  fill: white
}
//---------------------------------------------------------------------------------------
// page restaurant


.R-image{
  width: 100%;
  height: 285px;
  position: relative;
  z-index: 1;
}
  img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%
  }
  .R-carte{
    position: relative;
    z-index: 10;
    // height: 700px;
    width: 100%;
    background-color: rgb(233, 233, 233);
    margin-top: -30px;
    border-radius: 30px 30px 0px 0px;
    // text-align: center;
    padding-bottom: 150px;
  }
  .R-carte h2{
    font-size: 25px;
  }
  .R-titre{
    // CHANGEMENT font
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
  }
  h2{
    padding: 0 5%;
  }
  h2::after{
    display: block;
    background-color: $secondaire;
    content: "";
    margin-top: 1%;
    width: 50px;
    height: 2px;
  }
  .R-entree, .R-plats, .R-dessert{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // border: solid 1px;
    margin-bottom: 50px;
    height: auto;
   
  }
  .plat{
    width: 100%;
    height: 80px;
    // border: 1px solid;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow:  -1px 13px 31px -10px rgb(152, 155, 155);
  }
.prix{
  margin-top: 8%; 
}
.plat .contenu{
  margin: 0 auto;
  height: 100%;
}

.plat em{
  font-size: 23px;
}
.R-carte button{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
