@import 'variable';
@import 'placeholder';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&family=Roboto&family=Shrikhand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/1.0.0/css/all.min.css');
// hover
body {
    margin: 0;
    padding: 0; 
  font-family: $fontfamtext;
background-color: $couleurbody;
//  font-size: 20px;
}
a{
  color: inherit;
  text-decoration: inherit;
}
ul li{
  list-style: none;
}

  em{
    font-family: $fontfamtext;
    font-style: normal;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  
  header {
    position: relative;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70px;
  // border-bottom: solid 1px;
    background-color: white;
    box-shadow: 0px 1px 20px rgb(152, 155, 155) ;
    // position: fixed;
    z-index: 10;
 }
 header a{
   margin-left: 20px;
   position: absolute;
   align-items: center;
   left: 2%
 }
 header svg{
   width:180px;
   height:100px;
 }
 
 .Ac-localisation em{
   font-size: 18px;
   width: 190px;
  //  background-color: red;
 }
  
  .Ac-localisation {
    display: flex;
    
    
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 4vh;
    // border-bottom: solid 1px;
    background-color: rgb(200, 204, 204);
    // box-shadow: 121px 112px 22px  rgb(240, 8, 8) ;
   }
   .Ac-localisation i{
     font-size: 20px;
     margin-right: 10px;
   }

   .Ac-presentation h1, .Ac-presentation p{
     text-align: center;
   }
   p{
     font-size: 20px;
     color: grey;
   }
  
  .Ac-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    // border-bottom: solid 1px;
    flex-direction: column;
     }
    h1, h2{
      font-size: 25px;
      font-weight: 800;
      }
  .Ac-fonctionnement {
    width: 100vw; 
    height: auto;
    background-color: white;
    margin-bottom: 10vh;
    padding-left: 7%;
   }
   .Ac-etape i{
     color: grey;
     font-size: 25px;
   }
   .Ac-fonctionnement .Ac-etape:nth-child(4) i{
     color: $primaire;
   }

   button{
    height: 60px;
    align-content: center;
    padding: 0px 19px;
    border-radius: 30px;
    border: none;
    background: rgb(255,121,218);
    background: linear-gradient(177deg, rgba(255,121,218,1) 9%, rgba(147,86,220,1) 71%);  
    color: white;
    font-size: 19px;
    box-shadow:  -1px 13px 31px -10px rgb(152, 155, 155);
    cursor: pointer;
  }
  button:hover, .R-carte button:hover{
    transition: .2s;
    background: rgb(249,164,226);
    background: linear-gradient(177deg, rgba(249,164,226,1) 9%, rgba(170,130,218,1) 71%);;  
    box-shadow:  -1px 29px 41px -10px rgb(152, 155, 155);
  }
 .Ac-etape {
    height: 80px;
    width: 85%;
    // border: 1px solid;
    border-radius: 25px;
    margin-bottom: 3vh;
    margin-left: 5%;
    position: relative; 
    box-shadow:  -1px 13px 31px -10px rgb(152, 155, 155);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // text-align: ;  
 }

 @for $i from 1 through 4{

    .Ac-etape:nth-child(#{$i})::before {
    content: "#{($i - 1)}";
    position: absolute;
    left: -15px;
    top: 30%;
    height: 30px;
    width: 30px;
    color: white;
    background-color: $primaire;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
}

 .Ac-carte{
    //  border: solid 1px;
     border-radius: 10px;
     margin-bottom: 2vh;
     height: 25vh;
     width: 90vw;
     position: relative;
     overflow: hidden;
     box-shadow: 0px 1px 20px rgb(152, 155, 155);
     background-color: white;
 }
 .Ac-carte p{
    font-size: 15;
 }
  em{
   font-size: 25px;
 }
 .image{
     height: 70%;
     width: 100%;
 }
 .contenu{
    height: 15%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 0% 3%;
    align-items: center;
    margin: 4% auto;
    position: relative;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;

 }
 .text{
  
   height: 80%
   
 }
 .text p{
   margin-top: 3%;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
 }

// .image{
//   background-image: url("../../Maquettes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
// }
@each $image in $images{


##{nth($image, 1)} .image{
  background-image: (#{nth($image, 2)});
  background-size: cover;
  background-position: center;
  height: 70%;
  width: 105%;
  // transform: scale(1.2);
}
}
 svg {
  width: 31px;
  height: 30px;
}
.Ac-restaurants .n-style{
  fill: white;
  stroke: black;
  stroke-width: 20px;
  cursor: pointer;
}
// .n-style:last-child{
//  fill: $primaire}

input[type="checkbox"]{
   display: none;
}
// .contenu .n-style{
//   fill: blue;
// }

input[type="checkbox"]:hover + label svg{
  transition: .5s;
  fill: $primaire;
  
} 

footer{
  background-color: black;
  width: 100%
}
footer a{
  color: white;
}
footer svg{
  width: 9px;
  margin-top: 1%;
  margin-right: 5px;
}
footer ul{
  padding: 0px 0px 15px 26px;
}
footer ul li a:nth-child(1), footer ul li:nth-child(2){
  display: flex;
  align-items: center;
  position: relative;
  height: 20px;
}

footer ul li:nth-child(3) svg{
  transform: rotate(-45deg);
}

footer .n-style{
  fill: white;
}
footer .logo{
  font-family: 'Shrikhand', cursive;
  color: white;
  margin: 15px 0px;
}
.R-titre i{
  color: black;
  font-size: 30px;
  // border: 1px solid;
  padding: 0 0 0;
  transition: .5s;
  cursor: pointer;
  font-weight: 300;
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transition: 1s;
}
.R-titre i:hover, .contenu i:hover{
  color: $primaire;
  font-weight: 900;
}
.contenu i{
  color: black;;
  font-size: 30px;
  // border: 1px solid;
  padding: 0 0 0;
  transition: 1s ease;
  cursor: pointer;
  font-weight: 300;
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.R-titre i:hover, .contenu i:hover{
  color: $primaire;
  // font-size: 35px;
}
//---------------------------------------------------------------------------------------
// page restaurant


.R-image{
  width: 100%;
  height: 285px;
  position: relative;
  z-index: 1;
}
  img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%
  }
  .R-carte{
    position: relative;
    z-index: 10;
    // height: 700px;
    width: 100%;
    background-color: rgb(233, 233, 233);
    margin-top: -30px;
    border-radius: 30px 30px 0px 0px;
    // text-align: center;
    padding-bottom: 150px;
  }
  .R-carte h2{
    font-size: 25px;
    text-transform: uppercase;
  }
  .R-carte h1{
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
  }
  .R-titre{
    // CHANGEMENT font
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    align-items: center;
  }
  .R-titre  .n-style{
     fill: rgb(233, 233, 233);
     stroke: black;
     stroke-width: 20px;
     cursor: pointer;
  }
  h2{
    padding: 0 5%;
  }
 
  .R-carte h2::after{
    display: block;
    background-color: rgb(105, 226, 190);
    content: "";
    margin-top: 1%;
    width: 50px;
    height: 4+px;
  }
  .R-entree, .R-plats, .R-dessert{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // border: solid 1px;
    margin-bottom: 50px;
    height: auto;
   
  }
  .plat{
    width: 100%;
    height: 100px;
    // border: 1px solid;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow:  -1px 13px 31px -10px rgb(152, 155, 155);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
   
  }
.prix{
  // margin-top: 8%; 
  // position: absolute;
  margin-right: 0%;
  // transform: translateY(50%);
  right: 2%;
  // width: 20%;
  // height: 120%;
  top: 0%;
  // width: auto;
  // border: solid 1px;
  // z-index: 50;
  padding: 10% 2%;
  transition: .8s;
  background-color: white; 
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  margin-top: 7%;
  // text-align: end;
}
.plat .contenu{
  margin: 0 auto;
  height: 100%;
  align-self: center;
  // transform: translate(0%, 10%);
  // overflow: hidden;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  display: flex;
  
}

.plat em{
  font-size: 23px;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  
  overflow: hidden;

}
.R-carte button{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}


.prix::after{
  display: inline;
  content: "\f153";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

$times: R-entree, R-plats, R-dessert;

@each $time in $times{
  @for $i from 1 through 4{
.#{$time} .plat:nth-child(#{$i}){
  // @include enchainement;
  animation: apparition #{('0.'+(5 + $i)+'s')} linear;
  // animation-delay: #{('0.'+(5 + $i)+'s')};
}
}
}
@keyframes apparition{
  from {
    opacity: 0;
    transform: translateY(20px);
    
  }
 
  95% {
    opacity: 0.5;
  }
  to{
    opacity: 1;
    transform: translateY(0px);
    
  }
}
.plat .text{
  transform: translateY(10%);
 
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.plat input[type='checkbox']:checked + label .cub{
  // animation: validation 5s ease-in-out;
  animation: validation 1.5s ease-in-out;
  
  // margin-right: -20%;

}

// .plat input[type='checkbox']:checked + label .prix{

//   animation: prix 1.5s ease-in-out;
// }
.contenu:hover > .cub {
  right: -1%;
}
.contenu:hover > .cub::after {
  // animation: rota .5s ease-in;
  transform: rotate(0deg);
}


.contenu:hover > .prix{
  margin-right:18%;

}


.cub{
  width: 20%;
  height: 500px; 
  position: absolute;
  background-color: rgb(105, 226, 190);
  right: -23%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .6s;
  // margin-right: -20%;
  
  // animation: prix 1.5s ease-in-out;

}
.cub::after{
  content:"\f058";
  font-weight: 900;
  font-size: 25px;
  color: white;
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: rotate(-180deg);
  transition: .8s ease-out;
  // margin-left: 10%;

}

// @keyframes rota{
// from{
//   transform: rotate(180deg);
// }
// 50%{
//   transform: rotate(50deg);
// }
// 70%{
//   color: green;
// }
// to{
//   transform: rotate(0deg);
//   color: green;
// }
// }


// @keyframes validation{
//   from{
//    right: -23%;
//   }
//   50%{
//     right: -1%;
//   }
//   to{
//     right: -23%;
//   }
// }
// @keyframes prix{
//   from{
//     right: 5%;
//   }
//   50%{
//     right: 22%;
//   }
//   to{
//     right: 5%;
   
//   }
// }


#accueil{
  animation: attend ease 3.5s;
}
// @mixin enchainement{
//   @if  opacity != 1{
//     .R-entree .plat, .R-plats
//      .plat, .R-dessert .plat{
//       animation-play-state: paused;
//     }
//   }
// }

@keyframes attend{
   from{
      opacity: 0;
   }
   90%{
      opacity: 0;
   }
   to{
     opacity: 1;
   }
 }
 .loader{
  width: 100px;
  height: 100px;
  //  background-color: white;
   position: absolute;
   animation: deseppear ;
   animation: chargement 3s ease-out;
   top: 10%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   border: 10px solid $primaire;
   opacity: 0;
   
   
 }
 
 @keyframes chargement{
   from{
       opacity: 1;
       width: 110px;
       height: 110px;
       border: 10px solid $primaire;
   }
   20%{
       border: 20px solid $secondaire;
       width: 150px;
       height: 150px;
   }
   50%{
       border: 10px solid $tertiaire;
       width: 10px;
       height: 10px;
   }
   80%{

       opacity: 0.5;
       width: 200px;
       height: 200px;
       border: 30px solid $primaire;
   }
   90%{

    opacity: 0.3;
    width: 120px;
    height: 120px;
    border: 10px solid $secondaire;
}
   to{
       opacity: 0.1;
       width: 100px;
       height: 100px;
       border: 30px solid $secondaire;
   }
 }