@import '_variable';
@import '_animation';
@import '_mixins';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&family=Roboto&family=Shrikhand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/1.0.0/css/all.min.css');
// hover
body {
    margin: 0;
    padding: 0; 
    font-family: $fontfamtext;
    background-color: $couleurbody;
}
a{
  color: inherit;
  text-decoration: inherit;
}
ul li{
  list-style: none;
}
  em{
    font-family: $fontfamtext;
    font-style: normal;
  }
  main {
    @include flex-center;
    flex-direction: column;
    overflow: hidden;
   }
  header {
    position: relative;
    margin-top: 0px;
    @include flex-center;
    width: 100vw;
    height: 70px;
    background-color: white;
    box-shadow: 0px 1px 20px rgb(152, 155, 155) ;
    z-index: 10;
 }
 header a{
   margin-left: 20px;
   position: absolute;
   align-items: center;
   left: 2%
 }
 header svg{
   width:180px;
   height:100px;
 }
 .Ac-localisation em{
   font-size: 18px;
   width: 190px;
 } 
  .Ac-localisation {
    @include flex-center;
    width: 100%;
    height: 50px;
    background-color: rgb(200, 204, 204);
   }
   .Ac-localisation i{
     font-size: 20px;
     margin-right: 10px;
   }

   .Ac-presentation h1, .Ac-presentation p{
     text-align: center;
   }
   p{
     font-size: 20px;
     color: grey;
   }
  
  .Ac-presentation {
    @include flex-center;
    width: 100%;
    height: 340px;
    flex-direction: column;
     }
    h1, h2{
      font-size: 25px;
      font-weight: 800;
      }
  .Ac-fonctionnement {
    width: 100vw; 
    height: auto;
    background-color: white;
    margin-bottom: 10vh;
    padding-left: 7%;
   }
   .Ac-etape i{
     color: grey;
     font-size: 25px;
   }
   .Ac-fonctionnement .Ac-etape:nth-child(4) i{
     color: $primaire;
   }
   button{
    height: 60px;
    align-content: center;
    padding: 0px 19px;
    border-radius: 30px;
    border: none;
    @include gradient;
    color: white;
    font-size: 19px;
    box-shadow:  -1px 13px 31px -10px rgb(152, 155, 155);
    cursor: pointer;
  }
  button:hover, .R-carte button:hover{
    transition: .2s;
    background: rgb(249,164,226);
    background: linear-gradient(177deg, rgba(249,164,226,1) 9%, rgba(170,130,218,1) 71%);;  
    box-shadow:  -1px 29px 41px -10px rgb(152, 155, 155);
  }
 .Ac-etape {
    height: 80px;
    width: 85%;
    border-radius: 25px;
    margin-bottom: 3vh;
    margin-left: 5%;
    position: relative; 
    box-shadow: -1px 6px 25px -9px  rgb(152, 155, 155);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $couleurbody;
 }

 @for $i from 1 through 4{

    .Ac-etape:nth-child(#{$i})::before {
    content: "#{($i - 1)}";
    position: absolute;
    left: -15px;
    top: 30%;
    height: 30px;
    width: 30px;
    color: white;
    background-color: $primaire;
    border-radius: 50%;
    @include flex-center;
 }
}

 .Ac-carte{
     border-radius: 10px;
     margin-bottom: 2vh;
     height: 25vh;
     width: 90vw;
     position: relative;
     overflow: hidden;
     box-shadow: 0px 1px 20px rgb(152, 155, 155);
     background-color: white;
 }
 .Ac-carte p{
    font-size: 18px;
 }
 .Ac-carte em{
    font-size: 20px;
 }
  em{
   font-size: 25px;
 }
 .image{
     height: 70%;
     width: 100%;
  
         .new{
           position:  absolute;
           padding: 2% 4%;
           height: 22px;
           background-color:  $couleurnotif;
           color: rgb(80, 168, 120);
           right: 4%;
           top: 4%;
           border-radius: 2px;
         }
 }
 .contenu{
    height: 15%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 0% 3%;
    align-items: center;
    margin: 4% auto;
    position: relative;
 }
 .text{
   height: 80%;
 }
 .text p{
   margin-top: 3%;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
 }
 svg {
  width: 31px;
  height: 30px;
}
.Ac-restaurants .n-style{
  fill: white;
  stroke: black;
  stroke-width: 20px;
  cursor: pointer;
}
input[type="checkbox"]{
   display: none;
}
footer{
  background-color: black;
  width: 100%;
}
footer a{
  color: white;
}
footer svg{
  width: 9px;
  margin-top: 1%;
  margin-right: 5px;
}
footer ul{
  padding: 0px 0px 15px 26px;
}
footer ul li a:nth-child(1), footer ul li:nth-child(2){
  display: flex;
  align-items: center;
  position: relative;
  height: 20px;
}
footer ul li:nth-child(3) svg{
  transform: rotate(-45deg);
}
footer .n-style{
  fill: white;
}
footer .logo{
  font-family: 'Shrikhand', cursive;
  color: white;
  margin: 15px 0px;
}
.R-titre i{
  color: black;
  font-size: 30px;
  padding: 0 0 0;
  transition: .5s;
  cursor: pointer;
  font-weight: 300;
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transition: .5s;
}
.R-titre i:hover, .contenu i:hover{
  color: $primaire;
  font-weight: 900;
  animation: 2s heart ease,  ;
}
.contenu i{
  color: black;;
  font-size: 30px;
  padding: 0 0 0;
  transition: .5s ease;
  cursor: pointer;
  font-weight: 300;
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

//---------------------------------------------------------------------------------------
// pages restaurant

.R-image{
  width: 100%;
  height: 285px;
  position: relative;
  z-index: 1;
}
  img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%
  }
  .R-carte{
    position: relative;
    z-index: 10;
    // height: 700px;
    width: 100%;
    background-color: rgb(233, 233, 233);
    margin-top: -30px;
    border-radius: 30px 30px 0px 0px;
    // text-align: center;
    padding-bottom: 150px;
  }
  .R-carte h2{
    font-size: 25px;
    text-transform: uppercase;
  }
  .R-carte h1{
    font-family: $fam-logo-titre;
    font-size: 30px;
  }
  .R-titre{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    align-items: center;
  }
  .R-titre  .n-style{
     fill: rgb(233, 233, 233);
     stroke: black;
     stroke-width: 20px;
     cursor: pointer;
  }
  h2{
    padding: 0 5%;
  }
 
  .R-carte h2::after{
    display: block;
    background-color: $couleurnotif;
    content: "";
    margin-top: 1%;
    width: 50px;
    height: 4+px;
  }
  .R-entree, .R-plats, .R-dessert{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 50px;
    height: auto;
   
  }
  .plat{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow:  -1px 13px 31px -10px rgb(152, 155, 155);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
   
  }
.prix{
  margin-right: 0%;
  right: 2%;
  top: 0%;
  padding: 10% 2%;
  transition: .8s;
  background-color: white; 
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  margin-top: 7%;
}
.plat .contenu{
  margin: 0 auto;
  height: auto;
  align-self: center;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
}
.plat em{
  font-size: 23px;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  overflow: hidden;
}
.R-carte button{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.prix::after{
  display: inline;
  content: "\f153";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.plat .text{
  transform: translateY(10%);
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.plat input[type='checkbox']:checked + label .cub{
  animation: validation 1.5s ease-in-out;
}
.contenu:hover > .cub {
  right: -1%;
}
.contenu:hover > .cub::after {
  transform: rotate(0deg);
}
.contenu:hover > .prix{
  margin-right:18%;
}
.cub{
  width: 20%;
  height: 500px; 
  position: absolute;
  background-color: $couleurnotif;
  right: -23%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .6s;
}
.cub::after{
  content:"\f058";
  font-weight: 900;
  font-size: 25px;
  color: white;
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: rotate(-180deg);
  transition: .8s ease-out;
}
#accueil{
  animation: attend ease 3.5s;
}
 .loader{
   width: 100px;
   height: 100px;
   position: absolute;
   animation: chargement 3s ease-out;
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   border: 10px solid $primaire;
   opacity: 0;
 }

 //Responsive---------------------------------------
 
 @media (min-width:767px){
  
   .Ac-etape{
     max-width: 50%;
     height: 110px;
     transform: translate(50%)
   }
   .Ac-carte{
     width: 400px;
     margin-left: 10%;
     height: 400px;
   }
   .disposition-desktop, .R-carte .disposition-desktop{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    justify-content: center;
   }
   .R-entree, .R-plats, .R-dessert{
     width: 350px;
   }
   .R-carte button{
      top: 90%;
   }
  footer ul{
    margin-left: 40%;
  }

 }

 // annotation: 'Ac-'= balises d'accueil  'R-'= balises de Restaurants  1 css pour l'accueuil et 1 pour les pages de restaurant----------------------------------------------------